<%- include('./partials/head') %>

<% persons.forEach(person => { %>
  <% if (person.squad_id > 4) { %>
   <p draggable="true"><%= (person.name.length +" "+ person.id ) %> </p>
  <% } %>
    
<% }) %>


<%- include('./partials/foot') %>


